body {
  font-family: 'Montserrat Alternates', sans-serif;

}
ul {
  list-style-type: none;
  padding-inline-start: 10px;
}
a {
  color: #336c7c;
  text-decoration: none;
}
.App {
  text-align: center;
}
.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #26cece;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.home .App-header {
  background-color: #26cece;
}
.about .App-header {
  background-color: #74d1ad;
}
.projects .App-header {
  background-color: #f79bc9;
}
.project1 .App-header {
  background-color: #c06427;
}
.project2 .App-header {
  background-color: #8550ff;
}
.contact .App-header {
  background-color: #86b7ff;
}
.App-link {
  color: #0f9ac0;
  text-decoration: none;
  font-size: .8em;
}
.App-link:hover {
  color: #0e8eb1;
  font-weight: 800;
}
.home-p {
  color: aliceblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
@media screen and (min-width: 576px) {
  ul {
    display: flex;
  }
  ul li {
    padding-right: 20px;
  }
}